//- error.jade - Template page for client error view -//

// Podplay.me - Podcast browser and player.
// Authors: Ian McGaunn; Dave Zimmelman
// Modified: 18 Apr 15
= "\n"
doctype html
html
  head
    title= #{"Podplay.me | " + error.status}
  body
    block content
      h1#emsg= message
      h2#estatus= error.status
      pre #{error.stack}
