//- index.jade - Template for landing page/view. -//
//- Authors: Ian McGaunn; Dave Zimmelman -//
//- Modified: 09 Mar 15 -//
extends layout

block content
// BEGIN index.jade
    div.container
        // Dynamically generated page views
        div.col-md-9(id="left-col")
        // Media player side-panel
        div.col-md-3(id="right-col")
// END index.jade
        
