//- index.jade - Template for landing page/view. -//
//- Authors: Ian McGaunn; Dave Zimmelman -//
//- Modified: 09 Mar 15 -//
extends layout

block content
    div.container
        div.col-md-9(id="left-col")
        // Search form
            div.input-group
            input.form-control#podcast-search-input(type="text" placeholder="Search for a podcast")
            div.input-group-btn
                button#podcast-search-button(class="btn btn-default" type="button") GO!

        // Query results container
        div.panel.panel-default
            div.panel-heading#result-counter No Results
            div.panel-body#search-results
        div.col-md-3(id="right-col")
        
