//- index.jade - Template for landing page/view. -//
//- Authors: Ian McGaunn; Dave Zimmelman -//
//- Modified: 09 Mar 15 -//
extends layout

block content
  div.container
    div.col-md-9(id="left-col")
      // Search form
      div.input-group
        span.input-group-addon.glyphicon.glyphicon-search#sizing-addon2
        input.form-control(type="text" placeholder="Search for a podcast" aria-describedby="sizing-addon2")
        
    // Query results container
    div.col-md-3(id="right-col")
      h3 No Results
      table(id="results-table" class="table table-bordered")
        thead
          tr
            th 
            th Name
            th Genre
        tbody
          // dynamic content
