//- index.jade - Template for landing page/view. -//
//- Authors: Ian McGaunn; Dave Zimmelman -//
//- Modified: 09 Mar 15 -//
extends layout

block content
    div.container
        div.col-md-9(id="left-col")
            
        div.col-md-3(id="right-col")
        
