extends layout

block content   
  div.container
    div.header
      ul(class='nav nav-pills pull-right')
        li.active
          a(href='#') Home
        li
          a(href='#') Test
        li
          a(href='#') Test
      h3.text-muted Podplay.me
      
    hr
    
    div.footer
      p.text-muted here is some footer text.