//- index.jade - Template for landing page/view. -//
//- Authors: Ian McGaunn; Dave Zimmelman -//
//- Modified: 09 Mar 15 -//
extends layout

block content
    div.container
        div.col-md-9(id="left-col")
            // Search form
            div.input-group
                input.form-control#podcast-search-input(type="text" placeholder="Search for a podcast")
                div.input-group-btn
                    button#podcast-search-button(class="btn btn-default" type="button") GO!

            // Query results container
            div.panel.panel-default
                div.panel-heading#result-counter No Results
                div.panel-body#search-results
            div.panel.panel-default#pc-0
                div.panel-heading Top Podcasts
                div.panel-body
            div.panel.panel-default#pc-1301
                div.panel-heading Arts
                div.panel-body
            div.panel.panel-default#pc-1321
                div.panel-heading Business
                div.panel-body
            div.panel.panel-default#pc-1303
                div.panel-heading Comedy
                div.panel-body
            div.panel.panel-default#pc-1304
                div.panel-heading Education
                div.panel-body
            div.panel.panel-default#pc-1323
                div.panel-heading Games & Hobbies
                div.panel-body
            div.panel.panel-default#pc-1335
                div.panel-heading Government & Organizations
                div.panel-body
            div.panel.panel-default#pc-1307
                div.panel-heading Health
                div.panel-body
            div.panel.panel-default#pc-1305
                div.panel-heading Kids & Family
                div.panel-body
            div.panel.panel-default#pc-1310
                div.panel-heading Music
                div.panel-body
            div.panel.panel-default#pc-1311
                div.panel-heading News & Politics
                div.panel-body
            div.panel.panel-default#pc-1314
                div.panel-heading Religion & Spirituality
                div.panel-body
            div.panel.panel-default#pc-1315
                div.panel-heading Science & Medicine
                div.panel-body
            div.panel.panel-default#pc-1324
                div.panel-heading Society & Culture
                div.panel-body
            div.panel.panel-default#pc-1316
                div.panel-heading Sports & Recreation
                div.panel-body
            div.panel.panel-default#pc-1318
                div.panel-heading Technology
                div.panel-body
            div.panel.panel-default#pc-1309
                div.panel-heading TV & Film
                div.panel-body
        div.col-md-3(id="right-col")
        
