//- layout.jade - Template for login page
//- Authors: Ian McGaunn; Dave Zimmelman 

extends layout

block content
  .container
    h3 Register for an account
    form
      .form-group
        label(for="emailInput") Email address
        input(type="email", class="form-control" id="emailInput" placeholder="Enter email")
      .form-group
        label(for="usernameInput") Username
        input(type="text", class="form-control" id="usernameInput" placeholder="Username")
      .form-group
        label(for="passwordInput") Password
        input(Type="password", class="form-control" id="passwordInput", placeholder="Password")
      button(type="submit" class="btn btn-default") Submit
