// Search form
div.input-group
    input.form-control#podcast-search-input(type="text", placeholder="Search for a podcast")
    div.input-group-btn
        button#podcast-search-button(class="btn btn-default", type="button") GO!

// Query results container
div.panel.panel-default
    div.panel-heading#result-counter No Results
    div.panel-body#search-results
div.panel.panel-default#pc-0
    div.panel-heading Recommended For #{user.name}
    div.panel-body
each gen, num in genres
    div.panel.panel-default.genre-panel(data-genreid="#{num}")
        div.panel-heading #{gen}
        div.panel-body
