//- For testing purposes only - Not a part of release. -//
extends layout

block content   
  div.container
    div.header
      ul(class='nav nav-pills pull-right')
        li
          a(href='/') Home
        li.active
          a(href='/test') Test
        li
          a(href='#') Test
      h3.text-muted Podplay.me
      
    hr 
    
    form(id='searchField' action='javascript:void(0)')
      input(type='text', class='form-control', id='search', style='width: 50%')
      input(type='submit', class='btn btn-success')
 
    div.footer
      p.text-muted here is some text.
