/**
 * style.css - Main stylesheet for podplay.me
 * Authors: Ian McGaunn; Dave Zimmelman
 * Modified: 09 Mar 15
 */


/** ELEMENT SELECTORS **/

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  background-color: white;
}

a {
  color: #00B7FF;
}


/** CLASS SELECTORS **/

img.podcast-poster {
    width: 250px;
    height: 250px;
}

img.result-poster {
    height: 48px;
    width: 48px;
}

tr.feed-row {
    cursor: pointer;
}

tr.feed-row:hover {
    background: rgba(0,0,64,0.2);
}

.playing-title {
  height: 25px;
  color: #e3e3e3;
  background: #000;
}

.podcast-player {
    position: fixed;
    bottom: -5px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    left: 0px;
    width: 100%;
}

.podcast-player audio {
  width: 100%;
}

.container {
    margin-bottom: 50px;
}


/** ID SELECTORS **/

#menu {
  padding-top: 15px;
}

/* Keep image column correct static width */
#results-table tr > td:first-child {
    width: 58px;
    text-align: center;
}