/**
 * style.css - Main stylesheet for podplay.me
 * Authors: Ian McGaunn; Dave Zimmelman
 * Modified: 09 Mar 15
 */


/** ELEMENT SELECTORS **/

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  background-color: white;
}

a {
  color: #00B7FF;
}

div {
  padding: 0;
  margin: 0;
}

nav {
    height: 50px;
}

/** CLASS SELECTORS **/

.navbar-brand {
    margin-right: 25px;
}

img.podcast-poster {
  width: 250px;
  height: 250px;
}

img.result-poster {
  height: 48px;
  width: 48px;
}

tr.feed-row {
  cursor: pointer;
}

tr.feed-row:hover {
  background: rgba(0,0,64,0.2);
}

.playing-title {
  padding-left: 4px;
  height: 26px;
  line-height: 26px;
  color: #e3e3e3;
  font-size: 12px;
}

.podcast-player {
  background: -webkit-linear-gradient( top, #444, #222 );
  background: -moz-linear-gradient( top, #444, #222 );
  background: -ms-radial-gradient( top, #444, #222 );
  background: -o-linear-gradient( top, #444, #222 );
  background: linear-gradient( top, #444, #222 );
  width: 250px;
}

.podcast-player audio {
  width: 100%;
}

.container {
  margin-bottom: 50px;
}


/** ID SELECTORS **/

#menu {
  padding-top: 15px;
}

/* Keep image column correct static width */
#results-table tr > td:first-child {
  width: 58px;
  text-align: center;
}