/**
 * style.css - Main stylesheet for podplay.me
 * Authors: Ian McGaunn; Dave Zimmelman
 * Modified: 09 Mar 15
 */


/** ELEMENT SELECTORS **/

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  background-color: white;
}

a {
  color: #00B7FF;
}

div {
  padding: 0;
  margin: 0;
}

nav {
    height: 50px;
}

/** CLASS SELECTORS **/

.navbar-brand {
    margin-right: 25px;
}

#feed-view {
    min-width: 673px;
    width: 100%;
    height: 0px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-image: -webkit-linear-gradient(top,#3c3c3c 0,#222 100%);
    background-image: -o-linear-gradient(top,#3c3c3c 0,#222 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#3c3c3c),to(#222));
    background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
}

#feedview .table {
    width: 100%;
    margin: 0;
}

#feed-view h4 {
    color: white;
    display: block;
    width: 100%;
    text-align: center;
    height: 36px;
    line-height: 36px;
    margin: 0px;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.feed-col-left, .feed-col-right {
    margin: 0px;
    padding: 0px;
    max-height: 364px;
    overflow: hidden;
    display: block;
    position: relative;
    float: left;
}

.feed-row-top {
    margin: 0;
    padding: 0;
    color: #d0d0d0;
    height: 36px;
    overflow: hidden;
    width: 100%;
}

.feed-col-right {
    width: 573px;
    overflow-y: scroll;
}

.feed-col-left {
    width: 250px;
}

.listenlink {
    width: 24px;
    height: 24px;
    padding: 5px;
    
}

.sleek-gray {
    background: -webkit-linear-gradient( top, #444, #222 );
    background: -moz-linear-gradient( top, #444, #222 );
    background: -ms-radial-gradient( top, #444, #222 );
    background: -o-linear-gradient( top, #444, #222 );
    background: linear-gradient( top, #444, #222 );
}

.wrap {
    white-space: normal;
    overflow: hidden;
    min-width: 100px;
}

.nowrap {
    white-space: nowrap;
}

#episode-table {
    border: none;
}

#episode-table tr:nth-child(even) {
    background: rgba(255,255,255,0.15);
}

#episode-table, #feedinfo-table {
    color: #d0d0d0; 
}

#episode-table td, #episode-table th {
    padding: 0px;
    margin: 0px;
    padding-left: 5px;
    padding-right: 5px;
    height: 34px;
    max-height: 34px;
    line-height: 34px;
    border: none;
}

.btn .glyphicon {
    top: -2px !important;
    position: relative;
}

.btn-fav {
    background: transparent;
    position: absolute;
    z-index: 2;
    top: 0.25em;
    left: 0.25em;
    transition-duration: 0.25s;
    border-width: 2px;
    border-color: white;
    width: 2em;
    height: 2em;
    padding: 0 !important;
    padding-top: 0.5em !important;
    opacity: 0.75;
}

.btn-fav:hover, btn-fav:focus {
    background-color: #285e8e;
    border-color: white;
    opacity: 0.9;
}

#btn-fav[title="Remove Subscription"]:hover, 
#btn-fav[title="Remove Subscription"]:focus {
    background-color: #ac2925;
}

.btn-fav .glyphicon {
    font-size: 24px;
    padding: 0;
    margin: 0;
}

#it-summary {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    width: 90%;
    color: #d0d0d0;
    white-space: normal;
}

img.podcast-poster {
    width: 250px;
    height: 250px;
    position: relative;
    float: left;
}

img.result-poster {
  height: 48px;
  width: 48px;
}

tr.feed-row {
  cursor: pointer;
}

tr.feed-row:hover {
  background: rgba(0,0,64,0.2);
}

.playing-title {
  padding-left: 4px;
  height: 26px;
  line-height: 26px;
  color: #e3e3e3;
  font-size: 12px;
}

.podcast-player {
  background: -webkit-linear-gradient( top, #444, #222 );
  background: -moz-linear-gradient( top, #444, #222 );
  background: -ms-radial-gradient( top, #444, #222 );
  background: -o-linear-gradient( top, #444, #222 );
  background: linear-gradient( top, #444, #222 );
  width: 250px;
  margin-bottom: 15px;
}

.podcast-player audio {
  width: 100%;
}

.container {
  margin-bottom: 50px;
}


/** ID SELECTORS **/

#menu {
  padding-top: 15px;
}

.panel-body {
    height: 137px;
    margin: 0px;
    padding: 10px;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
}

.panel-body button {
    height: 120px;
    margin: 0px;
    width: 25px;
    position: relative;
    left: -25px;
    z-index: 4;
}

.castnail {
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 100px;
    width: 100px;
    border: none;
    margin-right: 10px;
    margin-bottom: 10px;
    white-space: normal;
    cursor: pointer;
}

.btn-viewgenre {
    width: 100px !important;
    height: 100px !important;
    margin: 0 !important;
    margin-right: 10px !important;
    left: 0px !important;
}

.btn-viewgenre > span {
    display: block !important;
}

.castnail.favorite > img {
    border: 4px solid blue;
}

.castnail > img {
    margin: 0px;
    padding: 0px;
    border: none;
    height: 100px;
    width: 100px;
}

#search-results {
    height: 0px;
    padding: 0px;
}

.panel-heading {
    text-transform: uppercase;
    font-size: 12px;
    padding-bottom: 0px;
}

legend {
    border: none;
}

#login, #register {
    z-index: 6;
    background-color: #eff4f6;
    padding: 20px;
    border: none;
    display: none;
    overflow: hidden;
    top: 50px;
    margin-top: 0px;
}

#loader {
    z-index: 6;
    background: url('loader128.gif');
    display: none;
    width: 128px;
    height: 128px;
    padding: 0;
    margin-left: -64px;
    margin-top: -64px;
    position: fixed;
    left: 50%;
    top: 50%;
}

#dimmer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 5;
    display: none;
}

.error {
    background: rgba(255, 127, 0, 0.25) !important;
}

.btnLogin {
    position: relative;
    float: right;
}

.btnLogin[disabled] {
    color: #999;
}

.btn-cancel {
    float: none !important;
    left: -5px;
}

#btn-login, #btn-register {
    right: 10px;
}

.notif {
    display: block;
    padding: 0px;
    padding-left: 5px;
    width: 100%;
    font-style: italic;
    color: #FF7F00;
    opacity: 0;
}

.valid {
    background: rgba(0, 127, 255, 0.15) !important;
}

#account {
    color: #aaa;
}

#sub-left-col {
    min-width: 275px !important;
}

@media only screen and (max-width: 1199px) {
    img.podcast-poster {
        width: 150px;
        height: 150px;
    }
    .feed-col-left {
        width: 150px;
    }
    .feed-col-right {
        width: 523px;
    }
}
@media only screen and (max-width: 991px) {
    .feed-col-right {
        width: 538px;
    }
}
@media only screen and (max-width: 766px) {
    .feed-col-right {
        width: 523px;
    }
}

/** EXPERIMENTAL LOADER **/
.loader {
  font-size: 20px;
  margin: 5em auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0em -3em 0em 0.2em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 0em #ffffff;
  }
  12.5% {
    box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 0.2em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  25% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 0.2em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  37.5% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 0.2em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  50% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 0.2em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  62.5% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 0.2em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  75% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0.2em #ffffff, -2em -2em 0 0em #ffffff;
  }
  87.5% {
    box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 0.2em #ffffff;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0em -3em 0em 0.2em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 0em #ffffff;
  }
  12.5% {
    box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 0.2em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  25% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 0.2em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  37.5% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 0.2em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  50% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 0.2em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  62.5% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 0.2em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  75% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0.2em #ffffff, -2em -2em 0 0em #ffffff;
  }
  87.5% {
    box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 0.2em #ffffff;
  }
}
